* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "IOS";
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  cursor: pointer;
  margin-top: 140px;
  height: 340px;
  width: 340px;
  padding: 30px;
  transition: transform 0.5s ease;
}

.container img:hover {
  transform: scale(1.1);
}

.container .ball {
  display: none;
  background: #000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.btn-play {
  cursor: pointer;
  display: block;
  padding: 5px 15px;
  height: 70px;
  width: 200px;
  font-size: 23px;
  font-family: "IOS";
  font-weight: 700;
  border-radius: 30px;
  border-style: none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.resultado {
  font-size: 30px;
  font-family: "IOS";
  text-align: center;
  padding-top: 50px;
}

.cup1 {
  animation-duration: 1.8s;
  animation-name: embaralhar-copo1;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes embaralhar-copo1 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(400px);
  }
}

.cup2 {
  animation: embaralhar-copo2 8s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes embaralhar-copo2 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-400px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.cup3 {
  animation-duration: 1.8s;
  animation-delay: 3s;
  animation-name: embaralhar-copo3;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes embaralhar-copo3 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-400px);
  }
}
