* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'IOS';
    src: url('../fonts/SF-Pro.ttf') format('truetype');
}  


.container{
	display: flex;
    justify-content: center;
    align-items: center;
}

.container img{
    cursor: pointer;
    margin-top: 140px;
    height: 340px;
    width: 340px;
    padding: 30px;
    transition: transform 0.5s ease;
}

.container img:hover{
    transform: scale(1.1);
}

.container .ball{
    display: none;
	background: #000;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin-left: 65px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.btn-play{
    cursor: pointer;
    display: block;
	padding: 5px 15px;
    height: 70px;
    width: 200px;
    font-size: 23px;
    font-family: 'IOS';
    font-weight: 700;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.resultado {
    font-size: 30px;
    font-family: 'IOS';
    text-align: center;
    padding-top: 50px;
}